
h1{font-size:40px;
  text-align: center;
  color:red;}
body {background-color:aquamarine;}
h2{font-size:30px;
  text-align: center;
  color: #b71fbf;}
ul{font-size:20px;}
  p{font-size:20px;}
  a{color:#bf1f6f;}
